@import "tailwindcss";

@theme {
  /* 폰트 패밀리 변수 */
  --font-sans:
    "Pretendard Variable", "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  --font-inter: "Inter", "Helvetica Neue", Arial, sans-serif;
  --font-roboto: "Roboto", "sans-serif";

  /* 브레이크 포인트 */
  --breakpoint-xs: 390px;
  --breakpoint-sm: 720px;
  --breakpoint-md: 1080px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1640px;
  --breakpoint-3xl: 1820px;

  /* Button Scale */
  --color-button: #003efb;
  --color-button-hover: #1537d9;
  --color-button-pressed: #1231c1;
  --color-button-nonSelected: #e6ecff;
  --color-button-nonSelected-hover: #d9e2fe;

  /* Purple Scale */
  --color-purple-light: #e8ecfe;
  --color-purple-light-hover: #dce2fd;
  --color-purple-light-active: #b7c3fb;
  --color-purple-normal: #173df1;
  --color-purple-normal-hover: #1537d9;
  --color-purple-normal-active: #1231c1;
  --color-purple-dark: #112eb5;
  --color-purple-dark-hover: #0e2591;
  --color-purple-dark-active: #0a1b6c;
  --color-purple-darker: #081554;

  /* White Scale */
  --color-white: #ffffff;
  --color-white-normal-hover: #e6e6e6;
  --color-white-normal-active: #cccccc;
  --color-white-dark: #bfbfbf;
  --color-white-dark-hover: #999999;
  --color-white-dark-active: #737373;
  --color-white-darker: #595959;
  /*main color*/
  --color-main1: #fe7549;
  --color-main2: #496ff8;

  /*sub color*/
  --color-sub1: #fff2ed;
  --color-sub2: #edf1ff;

  /*gray-scale*/
  --color-grey-5: #f3f3f3;
  --color-grey-4: #dfdfdf;
  --color-grey-3: #a8a8a8;
  --color-grey-2: #7f7f7f;
  --color-grey-1: #3b3b3b;
  --color-black: #252525;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
  #root {
    overflow: hidden;
  }
  body {
    overscroll-behavior-y: none;
  }
  body::-webkit-scrollbar {
    /* Chrome/Safari */
    display: none;
  }
}

@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }

  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    background: transparent;
  }

  .head1 {
    font-family: var(--font-sans);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem; /* 116.667% */
    letter-spacing: -0.03rem;
  }
  .head2 {
    font-family: var(--font-sans);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem; /* 120% */
    letter-spacing: -0.0125rem;
  }
  .subtitle-b-18 {
    font-family: var(--font-sans);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .subtitle-b-16 {
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  /*body*/
  .body-r-16 {
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .body-r-14 {
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /*etc*/
  .button-b-16 {
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .button-sb-14 {
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .caption-sb-12 {
    font-family: var(--font-sans);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .caption-r-12 {
    font-family: var(--font-sans);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
/* dots를 안쪽으로 겹치게 */
.slick-dots {
  position: absolute;
  bottom: 8px; /* 원하는 만큼 조절 */
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}

/* 점 크기, 색상 조정 (선택사항) */
.slick-dots li button:before {
  color: white; /* dot 색상 */
  opacity: 0.8;
}

.slick-dots li.slick-active button:before {
  color: gray; /* 활성화된 dot 색상 */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flex-scroll-container {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.flex-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
